<header>
  <h1>LIBRERÍA</h1>
  <h2>Admin: Home</h2>
</header>
<article>
  <nav class="navbar">
    <ul>
      <li><a id="homeLink" href="admin-home.html">Inicio</a></li>  
      <li><a id="agregarLibroLink" href="admin-home.html">Agregar Libro</a></li>  
      <li><a id="adminPerfilLink" href="admin-home.html">Admin Perfil</a></li>  
      <li><a id="salirLink" href="index.html">Salir</a></li>
      <li><a id="testIniLink" href="index.html">Volver al invitado-home (borrar despues)</a></li>
    </ul>
  </nav>
  <div class="contenido">
    <nav class="toolbar">
      <!-- <ul>
        <li><a id="agregarLink" href="admin-agregar-libro.html">Agregar</a></li>
        <li><a id="ingresoLink" href="ingreso.html">Ingreso</a></li>
        <li><a id="registroLink" href="registro.html">Registro</a></li>
      </ul> -->
    </nav>
    <div class="info">
      <div class="mensajes-container" id="mensajesContainer"></div>
      <div id="catalogo" class="catalogo"></div>      
    </div>
    <footer>
      Ángel Barceló Parada<br>
      Gloria Cuadros García<br>
      Elías Lucas Monsalve<br>
      Alejandro Ramos Moreno<br>
      Tecnologías y Sistemas Web 24/25<br>
      Universidad de Castilla-La Mancha<br>
      <small>Octubre de 2024</small>
    </footer>
  </div>
</article>