<html>
  <header>
    <h1>Tecnologías y Sistemas Web 24/25</h1>
    <h2>Perfil Cliente</h2>
  </header>
  <article>
    <nav class="navbar">
      <ul>
        <li><a id="homeLink" href="cliente-home.html">Inicio</a></li>
        <li><a id="carroLink" href="cliente-carro.html">Carro</a></li>
        <li><a id="facturasLink" href="cliente-facturas.html">Facturas</a></li>
        <li><a id="perfilLink" href="cliente-perfil.html">Perfil</a></li>
        <li><a id="salirLink" href="home.html" onclick="console.log('Sesión cerrada')">Salir</a></li>
      </ul>
    </nav>
    <div class="contenido">
     
      <div class="info">
        <div id="mensajesContainer" class="mensajes-container"></div>
        <form class="ingreso" id="usuarioForm" name="usuario">

          <label for="dniInput">DNI</label>
          <input id="dniInput" name="dni" type="text" placeholder="Ingrese su DNI" value="" required><br>

          <label for="nombreInput">Nombre</label>
          <input id="nombreInput" name="nombre" type="text" placeholder="Ingrese su nombre" value="" required><br>

          <label for="apellidosInput">Apellidos</label>
          <input id="apellidosInput" name="apellidos" type="text" placeholder="Ingrese sus apellidos" value="" required><br>

          <label for="direccionInput">Dirección</label>
          <textarea id="direccionInput" name="direccion" type="text" placeholder="Ingrese su dirección" required rows="3">Escuela Superior de Ingeniería Informática. Universidad de Castilla-La Mancha. C/Paseo de los estudiantes S/N, (02071) Albacete, España.</textarea><br>

          <label for="emailInput">Email</label>
          <input id="emailInput" name="email" type="email" placeholder="Ingrese su correo electrónico" value="" required><br>

          <label for="passwordInput">Contraseña</label>
          <input id="passwordInput" name="password" type="password" placeholder="Ingrese la contraseña" value="" required><br>

          <footer>
            <input id="modificarInput" name="modificar" type="submit" value="Modificar">
          </footer>
        </form>
      </div>
      <footer>
        Ángel Barceló Parada<br>
        Gloria Cuadros García<br>
        Elías Lucas Monsalve<br>
        Alejandro Ramos Moreno<br>
        Prof. Dr. Ricardo Tesoriero Pszytula<br>
        Tecnologías y Sistemas Web 24/25<br>
        Universidad de Castilla-La Mancha<br>
        <small>Octubre de 2024</small>
      </footer>
    </div>
  </article>
</html>